* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-menu>nav>ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.main-menu nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-family: monospace;
    transition: all 0.5s;
}

ul.sub-menu,
.main-menu {
    background: aquamarine;
}

.main-menu>nav>ul>li {
    border-right: 1px solid black;
    position: relative;
}

.main-menu nav ul li:last-child {
    border-right: navajowhite;
}

.main-menu ul li a:hover {
    background: red;
    color: white;
}

ul.sub-menu {
    position: absolute;
    display: none;
}

.main-menu ul li:hover .sub-menu {
    display: block;
}

ul.sub-menu {
    list-style: none;
    padding-left: 0;
}

ul.sub-menu li {
    border-bottom: 1px solid black;
}